*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    border: 1px solid green;
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
}

body > div {

    height: 75px;
    margin: 5px;
}

.container-one {
    border: 1px solid blue;
    background-color: lightblue;
    flex: 1 0 auto;
    width: 100%;
}

.container-two {
    border: 1px solid darkred;
    background-color: pink;
    width: 50%;
}

.container-three {
    border: 1px solid darkred;
    background-color: pink;
    width: 50%;
}

.container-four {
    border: 1px solid darkred;
    background-color: pink;
    width: 50%;
}

.container-five {
    border: 1px solid blue;
    background-color: lightblue;
    width: 100%;
}
