*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    border: 1px solid green;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 150vh;
}

body > div {
    height: 100px;
    margin: 5px;
}

.container-one {
    border: 1px solid blue;
    background-color: lightblue;
    display: flex;
    flex: 1;
}

.container-one > div {
    border: 1px solid salmon;
    background-color: peachpuff;
    margin: 5px;
    flex: 1;
}

.one-two {
    display: flex;
    padding: 2px;
}

.one-two > div {
    border: 1px solid red;
    background-color: pink;
    flex: 1;
}

.mid-container {
    background-color: lightgreen;
    display: flex;
    flex: 1;
    gap: 2px;
}

.container-two {
    border: 1px solid darkred;
    background-color: pink;
    flex: 1;
}

.container-three {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}

.three-one, .three-two {
    border: 1px solid darkred;
    background-color: pink;
    flex: 1;
}

.container-four {
    border: 1px solid blue;
    background-color: lightblue;
    display: flex;
    flex: 1;
}

.four-one, .four-four {
    border: 1px solid rgb(107, 60, 128);
    background-color: rgb(207, 168, 224);
    margin: 5px;
    flex: 2;
}

.four-two, .four-three {
    border: 1px solid salmon;
    background-color: peachpuff;
    margin: 5px;
    flex: 1;
}