*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    border: 1px solid green;
    background-color: lightgreen;
    flex-direction: flex;
    flex-wrap: wrap;
}

body > div {
    height: 75px;
    margin: 5px;
    padding: 5px;
}

.container-one {
    border: 1px solid blue;
    background-color: lightblue;
    display: flex;
    flex: 1;
}

.container-one > div {
    border: 1px solid salmon;
    background-color: peachpuff;
    margin: 5px;
    flex: 1;
}

.container-two {
    border: 1px solid darkred;
    background-color: pink;
    flex: 1;
}

.container-three {
    border: 1px solid darkred;
    background-color: pink;
    flex: 1;
}

.container-four {
    border: 1px solid blue;
    background-color: lightblue;
    flex: 1;
}
